numpy
pytest
plotly
pandas
open3d
scikit-learn
pyyaml
addict
pillow
tqdm
mkdocs
mkdocs-material
pymdown-extensions
mkdocstrings
mknotebooks
mkdocs-autorefs
mkdocs-material-extensions
nbconvert
pytkdocs-tweaks
mkdocs-include-exclude-files
notebook
mkdocstrings-python
mkdocs-gen-files
mkdocs-literate-nav
